@tailwind base;
@tailwind components;
@tailwind utilities;

.fadeContainer {
  transition: opacity 2s ease-in-out;
}

.PhoneInputInput {
  background: none;
}

.PhoneInputInput:focus {
  outline: none;
  border-color: blue;
}

.custom-shadow {
  box-shadow: inset 0 4px 4px 0 rgb(0 0 0 / 0.25);
}

.fadeIn {
  opacity: 1;
}

.fadeIn:not(:first-child) {
  opacity: 0;
}

.slick-slide {
  padding: 0 8px;
  box-sizing: border-box;
}

/* YourComponentStyles.css */

.learn-more-container {
  position: relative;
}

.learn-more-container::after {
  content: "";
  position: absolute;
  background-color: #7743db; /* Add the underline effect on hover */
  bottom: -10px;
  height: 4px;
  width: 0;
  border-radius: 10px;
  transition: 0.3s linear;
}

.learn-more-container:hover::after {
  width: 100%;
}

.learn-more-container-about {
  position: relative;
}

.learn-more-container-about::after {
  content: "";
  position: absolute;
  background-color: #3081d0;
  bottom: -10px;
  height: 4px;
  width: 0;
  border-radius: 10px;
  transition: 0.3s linear;
}

.learn-more-container-about:hover::after {
  width: 100%;
}

::-webkit-scrollbar-button {
  height: 12px;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:window-inactive {
  /* background: rgba(255, 0, 0, 0.4); */
  background: transparent;
}

::-webkit-scrollbar-track {
  background: var(--bg-promary);
}
::-webkit-scrollbar-thumb {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 3, 0.3);
  /* background: transparent; */
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  /* background: rgba(255, 0, 0, 0.4); */
  background: transparent;
}

/* .fadeContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.fadeIn {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fadeIn:not(:first-child) {
  opacity: 0;
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
