@tailwind base;
@tailwind components;
@tailwind utilities;

.fadeContainer {
  transition: opacity 2s ease-in-out;
}

.fadeIn {
  opacity: 1;
}

.fadeIn:not(:first-child) {
  opacity: 0;
}

/* YourComponentStyles.css */

.learn-more-container {
  position: relative;
}

.learn-more-container::after {
  content: "";
  position: absolute;
  background-color: #7743db; /* Add the underline effect on hover */
  bottom: -10px;
  height: 4px;
  width: 0;
  border-radius: 10px;
  transition: 0.3s linear;
}

.learn-more-container:hover::after {
  width: 100%;
}

/* .fadeContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.fadeIn {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fadeIn:not(:first-child) {
  opacity: 0;
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
